body {
    background-color: #fff;
    padding-top: 3.375rem;
    font-family: "Open Sans", sans-serif, Helvetica;
    color: #787878;
}

#side-nav .nav-link {
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
}

#side-nav .navbar-toggler:focus {
    outline-color: #d48a3e;
}

.card {
    border: none;
    margin-bottom: 1rem;
}

.card a {
    display: block;
    margin-bottom: 1rem;
    position: relative;
}

.card a::before{
    background-image: url('../css/images/overlay.png');
    border-radius: 0.35rem;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.card a::after{
    border-radius: 0.35rem;
    border: 3px solid rgba(255, 255, 255, .5);
    color:white;
    content: 'View';
    display: inline-block;
    font-size: .8rem;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -1.25em 0 0 -3em;
    opacity: 0;
    padding: 0 1.5em;
    text-align: center;
    line-height: 2.25em;
    letter-spacing: 2px;
}

.card a:hover::before{
    opacity: 1;
}

.card a:hover::after{
    opacity: 1;
}

.footer {
    padding: .5rem 1rem;
    font-size: .85rem;
}

.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer a {
    color: inherit;
}

.footer .icon-link {
    font-size: 1.5rem;
}

#side-nav .footer{
    background-color: #3a3431;
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 33.33%;
    }

    #side-nav {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 33.33%;
        height: 100vh;
        background-image: url('../css/images/overlay.png'), url('../assets/img/bg.jpg');
        background-attachment: scroll;
        background-position: top left;
        background-repeat: repeat, no-repeat;
        background-size: auto, cover;
        color: rgba(255, 255, 255, .5);
        text-align: center;
    }

    .img-profile {
        max-width: 100%;
        max-height: auto;
        margin: 2rem auto;
    }
    
    .navbar-collapse {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-bottom: auto;
    }

    #main-nav .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footer {
        position: fixed;
        bottom: 3rem;
        left: 0;
        width: 30%;
        background-color: transparent;
        z-index: 1031;
    }
}